body {
    background: #e5e5e5;
    color: #25282B;
    text-align: center;
}

button {
    color: #FF5E84;
    border: none;
    font-weight: bold;
}

.fat {
    color:white;
    background: #FF5E84;
}

#footer a {
    color: #25282B;
    text-decoration: none;
}

.hide {
    display: none;
}